<div>
        <nav class="navbar navbar-dark bg-primary">
          
              <a href="#" class="navbar-brand"><i class="fa fa-indent"></i>Menu</a>   
             
              <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Contact us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Location</a>
                  </li>
                </ul>
          
             </nav> 
             <hr>
</div>
<div class="container">

  <div class="jumbotron jumbotron-center">

    <h1 class="display-4" >
      Create web page
    </h1>
  </div>

</div>