<div class="container">
  <div class="jumbotron jumbotron-center">
      <h1 class="display-3">Hi, welcome TODOList APP!</h1>
      <div class="card border-primary">
        <div class="card-header bg-info">
          <h1 class="card-title md-4">
            All knowledge about our company
          </h1>
        </div>
        <div class="card-body">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus distinctio aut perspiciatis 
            beatae soluta ipsam dolorum veniam ex, 
            in repellat laborum, deleniti nisi quo ut impedit consequatur at illum!
          </p>
          <p class="lead">
              <button type="submit" class="btn btn-info">Learn more</button>
         </p>
        </div>
      </div>
  
