<div class="container">
  <div class="jumbotron jumbotron-center">
      <h1 class="display-3">Hi, welcome TODOList APP!</h1>
      <div class="card border-primary">
        <div class="card-header bg-info">
          <h1 class="card-title md-4">
            All knowledge about our company
          </h1>
        </div>
        <div class="card-body md-4">
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores minus distinctio aut perspiciatis 
            beatae soluta ipsam dolorum veniam ex, 
            in repellat laborum, deleniti nisi quo ut impedit consequatur at illum!
          </p>
        </div>
      </div>
    <div class="row mt-7">
      <div class="col md-5 mt-7">
          <div class="card-body">
              <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate vitae architecto cupiditate earum odio 
                  modi amet quasi, officia ut exercitationem, 
                  nobis in quod id distinctio, porro at! Nihil, ducimus molestias?</p>

              </div>
      </div>
      <div class="col md-3 mt-5">
        <div class="card-body border-primary">
            <p class="lead">
                <button type="submit" class="btn btn-info">Learn more</button>
           </p>
        </div>
        
          
      </div>
          
    </div>
  </div>
</div>